* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
}

main {
  padding-bottom: 5em;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0.5em 1em;
  position: relative;
}

header nav {
  width: 3em;
  padding: 0.2em;
}

header nav img {
  display: block;
  width: 1em;
  margin: auto;
  margin-right: 0.4em;
}

header #logo-div {
  width: 15em;
  padding-bottom: 0.2em;
  margin-right: 5em;
  cursor: pointer;
}

header #logo-div img {
  display: block;
  width: 100%;
}

header #head-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5em;
  position: relative;
}

header #head-div .cart-number {
  background-color: #ff7d1a;
  position: absolute;
  display: none;
  top: 0.2em;
  left: 0.2em;
  z-index: 2000;
  width: 1.6em;
  height: 1.3em;
  padding: 0.2em;
  border-radius: 5em;
  text-align: center;
}

header #head-div .cart-number h3 {
  margin: auto;
  color: white;
  font-size: 1em;
}

header #head-div img {
  display: block;
  width: 2.8em;
  padding: 0.5em;
  margin-right: 1em;
  cursor: pointer;
}

section #product {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 100%;
  height: 18em;
  overflow-x: hidden;
}

section #product .prod-images {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

section #product .prod-images img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

section .details {
  padding-inline: 4%;
}

section .details .details-text h3 {
  color: #ff7d1a;
  font-size: 1.1em;
  letter-spacing: 0.05em;
  font-weight: 900;
  text-transform: uppercase;
}

section .details .details-text h2 {
  color: black;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  margin-top: -0.3em;
}

section .details .details-text p {
  color: #68707d;
  font-size: 1em;
  line-height: 1.3em;
  letter-spacing: 0.06em;
  word-spacing: 0.1em;
  margin-top: -0.9em;
}

section .details .details-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .details .details-price .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

section .details .details-price .price h1 {
  color: black;
  font-size: 0.7em;
  width: 30%;
  margin-right: -3em;
}

section .details .details-price .price h3 {
  color: #ff7d1a;
  font-size: 0.6em;
  font-weight: 900;
  background-color: #ffede0;
  width: 3.8em;
  text-align: center;
  padding: 0.4em;
  border-radius: 0.5em;
}

section .details .details-price .prev-price {
  color: #68707d;
  font-size: 0.8em;
  text-decoration: line-through;
}

section .details .qty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  width: 100%;
  height: 100%;
  background-color: #f7f8fd;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 0.7em;
}

section .details .qty .increment, section .details .qty .incr, section .details .qty .decr {
  background-repeat: no-repeat;
  background-size: 0.8em;
  background-position: center center;
  width: 1.5em;
  cursor: pointer;
}

section .details .qty .incr {
  background-image: url("/icon-plus.svg");
}

section .details .qty .decr {
  background-image: url("/icon-minus.svg");
}

section .details .qty .num {
  color: black;
  font-size: 1em;
}

section .details .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ff7d1a;
  border-radius: 0.8em;
  margin-bottom: 1em;
  -webkit-box-shadow: 5px 30px 30px 15px #ffede0;
          box-shadow: 5px 30px 30px 15px #ffede0;
  cursor: pointer;
}

section .details .add img {
  display: inline-block;
  width: 1.5em;
}

section .details .add h3 {
  color: white;
  font-size: 1em;
  margin: 1em;
  margin-left: 1.5em;
}

.arr, .right-arr, .left-arr {
  position: absolute;
  width: 2.5rem;
  height: 2rem;
  top: 50%;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  z-index: 9000;
}

.right-arr {
  background-image: url("/icon-next.svg");
  left: 87%;
  top: 50%;
}

.left-arr {
  background-image: url("/icon-next.svg");
  left: 3%;
}

.hidden {
  opacity: 0;
  top: 0;
  left: -500px;
}

.show {
  opacity: 1;
  top: 0;
  left: 0;
}

#menu {
  display: none;
}

.menu {
  position: fixed;
  width: 70%;
  height: 100vh;
  background-color: white;
  z-index: 10000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.menu ul li {
  list-style-type: none;
  padding: 0.6em;
}

.menu ul li a {
  color: black;
  font-size: 1em;
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
}

.menu ul li:first-child {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.cart-show {
  display: block;
}

.cart-hide {
  display: none;
}

.cart-list {
  position: fixed;
  height: auto;
  margin-top: 0.6em;
  left: 5%;
  width: 90%;
  z-index: 10000;
  border-radius: 1em;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 1em;
}

.cart-list .cart-word {
  padding-left: 0.5em;
  color: black;
  font-size: 1em;
}

.cart-list .price-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
}

.cart-list .price-div .price-product {
  width: 3em;
  display: block;
  margin-right: 0.8em;
  border-radius: 0.5em;
}

.cart-list .price-div .delete {
  width: 0.7em;
  margin-left: 1em;
  cursor: pointer;
}

.cart-list .price-div div {
  padding: 0.2em;
  margin-top: -1em;
}

.cart-list .price-div div #product-name {
  color: #68707d;
  font-size: 1em;
  margin-bottom: 0.5em;
}

.cart-list .price-div div .price-span {
  color: #68707d;
  font-size: 1em;
}

.cart-list .price-div div .num-span {
  color: #68707d;
  font-size: 1em;
}

.cart-list .price-div div .total-price {
  color: black;
  font-size: 1em;
}

.cart-list .checkout {
  color: white;
  font-size: 1em;
  background-color: #ff7d1a;
  width: 90%;
  margin-inline: auto;
  margin-top: 1em;
  padding: 1em;
  border: none;
  border-radius: 0.7em;
}

.cart-list .cart-empty {
  text-align: center;
  position: relative;
  height: 8em;
}

.cart-list .cart-empty h3 {
  color: #68707d;
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.prod-images {
  display: none;
}

.viewbox {
  display: none;
}

.viewbox .right-arr {
  display: none;
}

.viewbox .left-arr {
  display: none;
}

@media screen and (min-device-width: 500px) {
  .cart-list {
    left: 30%;
    width: 40%;
  }
}

@media screen and (min-device-width: 1025px) {
  main {
    padding: 1em;
    position: relative;
    margin: auto;
    max-width: 980px;
    min-width: 820px;
    width: 100%;
    height: 100%;
  }
  main .contrast {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 24, 24, 0.876);
    z-index: 10000;
  }
  main header {
    margin-bottom: 2em;
    border-bottom: 1px groove #f7f8fd;
    position: relative;
  }
  main header #logo-div {
    width: 15em;
    padding-bottom: 0.2em;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  main header nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  main header nav img {
    display: none;
  }
  main header nav .menu {
    display: none;
  }
  main header nav #menu {
    display: block;
    position: static;
    height: 100%;
    width: 100%;
  }
  main header nav #menu ul {
    width: 100%;
    padding-left: 0;
  }
  main header nav #menu ul li {
    display: inline-block;
    margin: 2%;
    position: relative;
  }
  main header nav #menu ul li:hover a {
    color: #68707d;
  }
  main header nav #menu ul li a {
    font-size: 1em;
    color: #b6bcc8;
    font-weight: 500;
    text-decoration: none;
  }
  main header #head-div {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  main header #head-div .cart-number {
    top: 0.2em;
    left: 20%;
    width: 1.4em;
    height: 1.1em;
    padding: 0.1em;
  }
  main header #head-div .cart-number h3 {
    color: white;
    font-size: 0.8em;
  }
  main section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1em;
    grid-gap: 5em;
    height: 100%;
  }
  main section .viewbox {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 48%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 10000;
    width: 25em;
    height: 60%;
    border-radius: 1em;
    display: none;
  }
  main section .viewbox .close-prod {
    background-image: url("/icon-close.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -10%;
    right: 0%;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
  }
  main section .viewbox .left-arr {
    display: block;
    width: 2em;
    left: -5%;
    cursor: pointer;
  }
  main section .viewbox .right-arr {
    display: block;
    width: 2em;
    left: 95%;
    cursor: pointer;
  }
  main section .viewbox .prod-images {
    margin-top: 5em;
    display: block;
  }
  main section .viewbox .prod-images div {
    display: inline-block;
    width: 23%;
    -webkit-transform: translateY(10em);
            transform: translateY(10em);
  }
  main section #product {
    border-radius: 0.7em;
    background-size: cover;
    background-position: center top;
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
    height: 20em;
    scrollbar-width: none;
    cursor: pointer;
  }
  main section #product::-webkit-scrollbar {
    display: none;
  }
  main section #product .prod-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 30%;
    overflow-x: hidden;
  }
  main section #product .prod-images img {
    display: block;
    width: 80%;
    height: 50%;
    position: static;
    -webkit-transition: 1s;
    transition: 1s;
  }
  main section #product .arr, main section #product .right-arr, main section #product .left-arr {
    display: none;
  }
  main section .details {
    -webkit-box-flex: 60%;
        -ms-flex: 60%;
            flex: 60%;
    height: 22em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section .details .details-price {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main section .details .details-price .price h1 {
    margin-right: -13%;
    font-size: 1em;
  }
  main section .details .price-add {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 0.8em;
    padding-inline: 0em;
    margin-top: 2em;
  }
  main section .details .price-add .qty {
    -webkit-box-flex: 30%;
        -ms-flex: 30%;
            flex: 30%;
    height: 70%;
  }
  main section .details .price-add .add {
    -webkit-box-flex: 60%;
        -ms-flex: 60%;
            flex: 60%;
    height: 70%;
  }
  main section .details .price-add .add h3 {
    font-size: 0.8em;
    margin: 3%;
  }
  main section .details .price-add .add img {
    width: 1em;
  }
  main li:hover::before {
    content: "";
    width: 90%;
    height: 13%;
    background-color: #ff7d1a;
    position: absolute;
    bottom: -225%;
    left: 0;
  }
  main .cart-list {
    position: fixed;
    height: 15em;
    margin-top: 0.6em;
    top: 5em;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 20em;
    z-index: 1000;
    border-radius: 1em;
    background-color: white;
    -webkit-box-shadow: 5px 15px 20px #b6bcc8;
            box-shadow: 5px 15px 20px #b6bcc8;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 1em;
  }
  main .prod-images {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-transform: translateY(6em);
            transform: translateY(6em);
  }
  main .prod-images div {
    padding: 0.7em;
    position: relative;
    cursor: pointer;
  }
  main .prod-images div .img-span {
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.418);
    border: 0.2em solid #ff7d1a;
    border-radius: 0.7em;
  }
  main .prod-images img {
    display: block;
    width: 100%;
    border-radius: 0.7em;
  }
}
/*# sourceMappingURL=style.css.map */